@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Noto Sans', sans-serif;
}



header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: normal;

    
}

a {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    text-decoration: none; 
    color: white; 
    font-size: 1.5rem;
               
}



.work-container{
    width: 100%;
    display: flex;
}

.work-description{
    flex-grow: 1;
    flex-basis: 0;    
    background-size: cover;
    background-position: center center;

    display: flex;
    justify-content: end; 
    align-items: flex-end;
    flex-direction: row; 
    gap: 1rem;
}

.work-summary{
    flex-grow: 1;
    flex-basis: 0;
}

.work-introduction{
    flex-grow: 1;
    flex-basis: 0;
}


.work-image{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
}


.work-description.work-1{
    background-image: url('images/works1\ mockup.jpg');



}
.work-description.work-2{
    background-image: url('images/works2\ mockup\ .jpg');



}
.work-description.work-3{
    background-image: url('images/works3\ mockup.jpg');


}
.work-description.work-4{
    background-image: url('images/works4\ mockup.jpg');



}
.work-description.work-5{
    background-image: url('images/works5\ mockup.jpg');



}
.work-description.work-6{
    background-image: url('images/works6\ mockup.jpg');



}


div.title{
    display: flex;
    justify-content: end;
    align-items: flex-start;
    padding-top: 1rem;
    padding-right: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
}

