@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Noto Sans', sans-serif;
}



header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

nav a:hover{
    font-size: 1.7rem;
}

.work-container{
    width: 100%;
    display: flex;
}

.work-description{
    flex-grow: 1;
    flex-basis: 0;    
    background-size: cover;
    background-position: center center;

    display: flex;
    justify-content: end; 
    align-items: flex-end;
    flex-direction: row; 
    gap: 1rem;
}


.work-summary{
    flex-grow: 1;
    flex-basis: 0;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.work-summary li {
    list-style-type: none;
}


.work-introduction{
    flex-grow: 1;
    flex-basis: 0;
    margin-bottom: 2rem;
    margin-right: 2rem;
}


.work-image{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
}


.work-description.work-1{
    background-image: url('images/works1\ mockup.jpg');



}
.work-description.work-2{
    background-image: url('images/works2\ mockup\ .jpg');



}
.work-description.work-3{
    background-image: url('images/works3\ mockup.jpg');


}
.work-description.work-4{
    background-image: url('images/works4\ mockup.jpg');



}
.work-description.work-5{
    background-image: url('images/works5\ mockup.jpg');



}
.work-description.work-6{
    background-image: url('images/works6\ mockup.jpg');



}


div.title{
    display: flex;
    justify-content: end;
    align-items: flex-start;
    padding-top: 1rem;
    padding-right: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
}




@media only screen and (max-width:  1024px) {
    .work-container {
        flex-direction: column;
        gap: 5rem;
    }
}
    .work-summary, .work-introduction {
        margin-top: 100rem
         
    }

    
  

@media only screen and (max-width: 639px) {
    header nav a {   
        margin: 1rem;
        font-size: 1.2rem;
    }

    nav a:hover{
        font-size: 1.3rem;
    }
    

    .work-summary ul {
        padding-left: 10px;
    }
}

.work-description.work-1,
.work-description.work-2,
.work-description.work-3,
.work-description.work-4,
.work-description.work-5,
.work-description.work-6{
    width: 100vw;
    height: 100vh;
    justify-content: center;
}
