
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

nav a:hover{
    font-size: 1.7rem;
}
main {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: right; 
    margin: 2rem;
}

#works h1 {
    font-size: 100px;
    font-weight: bold;
    color: white;
    position: relative;
    overflow: hidden;
    animation: slide-in 0.8s ease-out forwards; 
}


@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0); 
    }
}

/* 그리드 스타일 */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 데스크탑: 3열 */
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
}

.work-item {
    background: #222;
    padding: 100px;
    border-radius: 8px;
    transition: transform 0.3s, background 0.3s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: row;
    text-align: center;
}

.work-item:hover {
    background: #333;
    transform: scale(1.02); 
}

.work-item h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.work-item p {
    font-size: 20px;
    color: #ccc;
}


@media only screen and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); 
    }

    h1 {
        font-size: 80px; 
    }
}

@media only screen and (max-width: 639px) {

    header nav a {   
        margin: 1rem;
        font-size: 1.2rem;
    }
    
    nav a:hover{
        font-size: 1.3rem;
    }
    
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    h1 {
        font-size: 70px;
        text-align: center;
    }

    .work-item {
        padding: 100px;
    }

    .work-item h2 {
        font-size: 20px;
    }

    .work-item p {
        font-size: 16px;
    }
}